<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-serif bg-gray-100 font-sans">
    <header class="bg-gray-800 text-white p-4 flex justify-between items-center">
        <div class="text-lg font-semibold">Learning Management System</div>
        <a href="/signout" class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded">Signout</a>
    </header>

    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold text-gray-800 mb-6">Welcome <%= user.name %></h1>

        <div class="mb-6 space-x-4">
            <a  href="/newcourse"class="bg-gray-600 hover:bg-gray-800 text-white py-2 px-4 rounded">Create a new Course</a>
            <a  href="/newchapter"class="bg-gray-600 hover:bg-gray-800 text-white py-2 px-4 rounded">Create a new Chapter</a>
            <a  href="/newpage"class="bg-gray-600 hover:bg-gray-800 text-white py-2 px-4 rounded">Create a new Page</a>
            <a  href="/my-course"class="bg-gray-600 hover:bg-gray-800 text-white py-2 px-4 rounded">My Courses</a>
            
            <button class="bg-gray-600 hover:bg-gray-800 text-white py-2 px-4 rounded">View Reports</button>
        </div>

        <h2 class="text-xl font-semibold text-gray-700 mb-4">Available Courses</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            <% allCourses.forEach(course => { %>
                <div class="bg-white border border-gray-200 rounded-lg shadow-md p-4">
                    <h3 class="text-lg font-semibold text-gray-800"><%= course.name %></h3>
                    <p class="text-sm text-gray-600 mb-4">Educator: <%= course.educator.name %></p>
                    <p class="text-sm text-gray-600 mb-4">description: <%= course.description %></p>
                    <div class="flex justify-between items-center">
                        <span class="text-gray-500 text-sm">&#128101; <%= course.dataValues.enrollmentCount %> </span>
                        <a href="/course/<%= course.id %>" class="bg-cyan-500 hover:bg-cyan-700 text-white py-1 px-3 rounded">Enter Course</a>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
</body>
</html>
